av==14.0.1
datasets==3.1.0
einops==0.8.0
fastapi==0.115.12
fire==0.7.0
gradio==4.44.1
huggingface_hub==0.33.0
imageio==2.36.1
jieba==0.42.1
lmdb==1.6.2
matplotlib==3.5.3
modelscope==1.22.3
ndjson==0.3.1
nltk==3.9.1
numpy==1.26.4
nuscenes_devkit==1.1.11
openai==1.59.6
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
packaging==24.2
pandas==2.2.3
peft==0.12.0
Pillow==10.4.0
psutil==6.1.1
pydantic==2.10.4
pyquaternion==0.9.9
pytorch_lightning==1.2.10
PyYAML==6.0.2
ray==2.40.0
Requests==2.32.4
rouge_chinese==1.0.3
safetensors==0.4.5
setuptools==76.0.0
sse_starlette==2.2.1
tiktoken==0.7.0
tqdm==4.67.1
transformers==4.49.0
trl==0.9.6
typing_extensions==4.12.2
uvicorn==0.34.0
vllm